@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  /*animation: float 1500ms alternate-reverse infinite ease-out;*/
  transition: all 1000ms ease;
}
.btn:hover {
  opacity: 99%;
  /*animation: shake 500ms ease reverse infinite;*/
  box-shadow: 0 0 20px 8px #7342d6, 0 0 32px 16px whitesmoke;
  box-shadow: 0 0 16px 8px #7342d6, 0 0 28px 12px whitesmoke;
  box-shadow: 0 0 8px 2px whitesmoke, 0 0 40px 2px #7342d6;
}
.btn:active {
  transform: translateY(3px);
}

.purple {
  color: #7342d6;
}

.logo {
  width: 160px;
}

/*

ANIME MAMMARIES

*/

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}
/*
@keyframes floater {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
  */

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px) scale(1.3) rotate(0deg);
    color: rgb(203, 177, 255);
  }
  45% {
    color: #bbbbbb;
    color: whitesmoke;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: scale(0deg);
  }
}

/*

NAV IMMIGRATION

*/

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7342d6;
  font-size: 20px;
  position: relative;
  margin-left: 8px;
}

.cart__length {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: -4px;
  pointer-events: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
  transition: all 200ms ease;
}
.menu__link:hover {
  opacity: 99%;
  text-decoration: none;
  border-radius: 100px;
  padding: 6%;
  color: whitesmoke;
  background-color: #7342d6;
  /*animation: shake 500ms ease reverse infinite;*/
  box-shadow: 0 0 20px 8px #7342d6, 0 0 32px 16px whitesmoke;
  box-shadow: 0 0 16px 8px #7342d6, 0 0 28px 12px whitesmoke;
  box-shadow: 0 0 8px 2px #242424, 0 0 40px 2px #7342d6;

  transform: scale(0.4);
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;

  border-radius: 50%;
  transition: all 200ms ease;
}
.btn__menu--close:hover {
  transform: scale(1.2);
  color: #7342d6;
  /*
  opacity: 99%;
  text-decoration: none;
  border-radius: 100px;
  color: whitesmoke;
  background-color: #7342d6;
  background-color: gold;
  box-shadow: 0 0 20px 8px #7342d6, 0 0 32px 16px whitesmoke;
  box-shadow: 0 0 16px 8px #7342d6, 0 0 28px 12px whitesmoke;
  box-shadow: 0 0 8px 2px #242424, 0 0 40px 2px gold;
  */
}

/* 

LANDING

*/

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 20px;

  /* Added this after the tutorial to 
  show it over the wave on larger screens */
  z-index: 50;

  /* Added this after the tutorial to 
  make landing page responsive on laptops */
  max-height: 50vh;
}

.container {
  padding: 56px 0;
}

.books__container {
  padding: 24px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}
/* 

HIGHLIGHTS 

*/

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights:after,
#highlights:before {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights:before {
  transform: translateY(-100%);
  top: 1px;
}

#highlights:after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid #7342d65d;
  border: 4px solid #7342d65d;
  color: #7342d6;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border-radius: 50%;
  font-size: 32px;
  margin-bottom: 24px;

  transition: all 300ms ease;
}
.highlight__img:hover {
  border: 8px solid #7342d6;
  /*cursor: grab;*/
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/* 

FEATURES 

*/

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}

.book {
  width: 25%;
  padding: 24px;
  transition: all 300ms ease;
}

.book:hover {
}
.book:hover .book__img--wrapper {
  transform: scale(1.05) translateY(-1%);
}

.book__img {
  max-height: 320px;
  max-width: 240px;
  max-width: 230px;
  transition: all 500ms ease;

  /*
  height: 250px;
  width: 180px;
  */
}
.book__img:hover {
}

.book__img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.book__title--skeleton {
  height: 21px;
  width: 100%;
}

.book__rating--skeleton {
  width: 100px;
  height: 19px;
}

.book__price--skeleton {
  width: 200px;
  height: 19px;
}

.book__link {
  color: #242424;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  transition: all 600ms ease;
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title--link {
  color: #242424;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}
.book__ratings:hover {
}
.star {
  transition: all 300ms ease;
}
.star:hover {
  transform: rotate(360deg);
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/* 

EXPLORE

*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

/*
.footer__link {
  padding: 0 8px;
  padding: 0 32px;
  display: inline-block;
  animation: floater 1200ms ease-in-out infinite 1s;
  color: rgb(203, 177, 255);
}
*/

.footer__link {
  padding: 0 32px;
  display: inline-block;
  color: rgb(203, 177, 255);
  color: whitesmoke;
  animation: wave 6s ease-in-out infinite;
  font-size: 20px;
}
.footer__link:hover {
  color: whitesmoke;
  color: #bbbbbb !important;
  text-decoration: none;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #7342d6;
}

.footer__link--1 {
  animation-delay: 0s;
}
.footer__link--2 {
  animation-delay: 0.5s;
}
.footer__link--3 {
  animation-delay: 1s;
}
.footer__link--4 {
  animation-delay: 1.5s;
}

/*
.footer__link--1 {
  animation-delay: 0ms;
  animation-delay: 0ms;
  animation-delay: 300ms;
}
.footer__link--2 {
  animation-delay: 60ms;
  animation-delay: 300ms;
  animation-delay: 600ms;
}
.footer__link--3 {
  animation-delay: 120ms;
  animation-delay: 600ms;
  animation-delay: 900ms;
}
.footer__link--4 {
  animation-delay: 180ms;
  animation-delay: 900ms;
  animation-delay: 1200ms;
}
*/

/* 
**

BOOKS PAGE

**
*/

#books__body {
  background-color: rgba(115, 66, 214, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

#books__main {
  flex: 1;
  background-color: rgb(248, 249, 250);
}

.books__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.books__header--title {
  margin-bottom: 0;
}

select {
  background-color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  border: 1px solid #242424;
  border: 3px solid #606060;
  color: #606266;
  height: 40px;
  line-height: 40px;
  font-size: 102%;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: all 500ms ease;
}
select:hover {
  color: #7342d6;
  border: 3px solid #7342d6;
  border: 3px solid #606060;
  background-color: whitesmoke;
  background-color: #dcdfe6;
}

.books__loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7342d6;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 

  book/:id
    
*/
.books__container {
  background-color: rgba(115, 66, 214, 0.1);
}

.container__book--selected {
  padding-top: 16px;
}

.book__selected {
  display: flex;
}

.book__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.book__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__selected--top {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #242424;
  display: flex;
  align-items: center;
}

.book__selected--link {
  color: #242424;
}

.fa-arrow-left {
  font-size: 30px;
}

.book__selected--title--top {
  margin-left: 10px;
  margin-bottom: 0;
  color: black;
  transition: all 200ms ease;
  text-decoration: none;
}
.book__selected--title--top:hover {
  text-decoration: none;
}

.book__summary {
  margin-bottom: 16px;
}

.book__selected--title {
  margin-bottom: 8px;
}

.book__summary--title {
  margin-bottom: 8px;
}

.book__summary--para {
  margin-bottom: 16px;
}

.recommended__books--wrapper {
  display: flex;
}

.book__price {
  font-size: 16px;
  margin: 8px 0 24px 0;
}

.link__breadcrumbs {
  color: #bfbfbf;
  margin-bottom: 16px;
}

/* 

  CART 
    
*/

.cart__header {
  background-color: #7342d6;
  margin: 0 24px;
  padding: 8px 16px;
  color: white;
  display: flex;
}

.cart__item {
  margin: 24px;
  display: flex;
  padding-right: 8px;
}

.cart__title {
  margin-bottom: 16px;
}

.cart__book {
  width: 60%;
  display: flex;
}

.cart__quantity {
  width: 40%;
  display: flex;
  align-items: center;
}

.cart__total {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.cart__input {
  padding: 8px;
  width: 60px;
  outline: 1px solid #7342d6;
  outline: 1px solid black;
}
.cart__input:active {
  outline: 1px solid gold;
  outline: 1px solid #7342d6;
}

.cart__book--img {
  width: 100%;
  max-width: 90px;
  max-height: 128px;
}

.cart__book--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
}

.cart__book--title {
  font-size: 20px;
  margin-bottom: 16px;
}

.cart__book--price {
  margin-bottom: 16px;
}

.cart__book--remove {
  background-color: transparent;
  color: #cf0000;
  border: none;
  padding-left: 0;
  width: 48px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 24px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  font-size: 16px;
}

.total__item {
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total__sub-total {
  border-top: 2px solid #7342d6;
  padding-top: 24px;
}

.total__price {
  font-weight: bold;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__empty--img {
  padding: 40px;
  max-width: 400px;
}

.btn__checkout {
  width: 100%;
  font-size: 16px;
  padding: 12px 0;

  background-color: #7342d6;
  color: white;
  border-radius: 4px;
  border: none;
  /*animation: float 1500ms alternate-reverse infinite ease-out;*/
  transition: all 1000ms ease;
}
.btn__checkout:hover {
  transform: translateY(-2px);
  opacity: 95%;
}
.btn__checkout:active {
  transform: translateY(1px);
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }

  .book__selected {
    flex-direction: column;
  }
  .book__selected--figure {
    width: 100%;
    justify-content: flex-start;
  }
  .book__selected--description {
    width: 100%;
  }

  .book__img {
    height: 320px;
    width: 240px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__list {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }

  .book__img {
    height: 280px;
    width: 200px;
  }

  .cart__book--img {
    display: none;
  }
  .cart__book--info {
    padding-left: 0;
  }
  .footer__link {
    font-size: 16px;
    padding: 0 8px;
  }
}
@media (max-width: 500px) {
  .book {
    /*
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    */
  }
  .book__img {
  }
}
